<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Football_Academy_Management_System.Properties.Settings.managerConnectionString"
            connectionString="Data Source=|DataDirectory|\manager.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Football_Academy_Management_System.Properties.Settings.managerConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\manager.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>